@page "/Release-notes"

<h1>Release Notes</h1>

<h4>1.4.0</h4>
<ul>
  <li>Added button variants of SemDropdownSelection and SemDropdownMultiSelection.</li>
  <li>Added parameters Clearable, AllowAdditions, FullTextSearch, MaxSelections and UseLabels for SemDropdownSelection and/or SemDropdownMultiSelection.</li>
</ul>

<h4>1.3.2</h4>
<ul>
  <li>SemModal Size property has been fixed.</li>
  <li>Added Classes for SemModal render fragments (header, content and actions).</li>
  <li>Day names of SemDateInput calendar has been fixed.</li>
</ul>

<h4>1.3.1</h4>
<ul>
  <li>Size of confirmation modal dialog has been fixed.</li>
  <li>IconPosition has been added for SemButton, SemActionButton, SemInput and SemDateInput.</li>
</ul>

<h4>1.3</h4>
<ul>
  <li>The most of the components has been rewritten and optimalized.</li>
  <li>Added/changed properties with some of the semantic classes such as sizes, colors, icons etc.</li>
  <li>SemForm and SemFormFields added.</li>
  <li>SemTabs and SemTab added.</li>
  <li>SemGrid, SemGridRow and SemGridColumn added.</li>
  <li>SemDivider added.</li>
  <li>SemSelectListItem added - you now have the ability to manually add items to select components via "HTML" markup.</li>
  <li><SemIcon Color="Color.Orange" Icon="Icon.Exclamation_Triangle"></SemIcon>SemList renamed to SemDataList.</li>
  <li><SemIcon Color="Color.Orange" Icon="Icon.Exclamation_Triangle"></SemIcon>SemTable renamed to SemDataTable.</li>
  <li><SemIcon Color="Color.Orange" Icon="Icon.Exclamation_Triangle"></SemIcon>SemInput parameter ShowIcon removed (no longer neccessary) and IconClass renamed to Icon.</li>
  <li><SemIcon Color="Color.Orange" Icon="Icon.Exclamation_Triangle"></SemIcon>SemActionInput has same Icon changes as for SemInput.</li>
  <li><SemIcon Color="Color.Orange" Icon="Icon.Exclamation_Triangle"></SemIcon>FormField ShowLabel renamed to LabelVisible and IsEditable renamed to Editable.</li>
  <li><SemIcon Color="Color.Orange" Icon="Icon.Exclamation_Triangle"></SemIcon>SemTable, SemList and SemCards DataMethod parameters startRowIndex and pageSize replaced with DataMethodParams model.</li>
  <li><SemIcon Color="Color.Orange" Icon="Icon.Exclamation_Triangle"></SemIcon>SemListSimple and SemTabularMenu removed.</li>
</ul>

<h4>1.2.1</h4>
<ul>
  <li>Bugfixes</li>
  <li>PageIndexChanged EventCallback added to SemList and SemTable.</li>
</ul>

<h4>1.2.0</h4>
<ul>
  <li>SemMenu, SemMenuItem added</li>
  <li>SemList reworked (SemListItem added), multiple ViewTypes (items, feed, comments, cards).</li>
  <li>SemDropdownMenu reworked (Menu and Header tags removed).</li>
  <li>Bugfixes.</li>
</ul>

<h4>1.1.5</h4>
<ul>
  <li>"For" parameter is now Cascading for Input components.</li>
  <li>Minor bugfixes.</li>
</ul>

<h4>1.1.4</h4>
<ul>
  <li>Minor bugfixes.</li>
  <li>SemDropdownSelection changed to fulltext search.</li>
</ul>

<h4>1.1.3</h4>
<ul>
  <li>Minor bugfixes.</li>
</ul>

<h4>1.1.2</h4>
<ul>
  <li>SemList, SemCards and SemTable refresh fixed.</li>
  <li>SemMenuItem texts for confirmation dialog buttons has been added.</li>
</ul>

<h4>1.1.1</h4>
<ul>
  <li>Updated to .NET Core 3.1.8</li>
</ul>
<h4>1.1.0</h4>
<ul>
  <li>Changed SemList, SemCards and SemTable (inherits CollectionBase).</li>
</ul>

@code {

}
