@inherits SemInputControlBase<bool>

@if (Visible)
{
  <div id="@Id" class="@ClassMapper.ToString()">
    <input id="inpt_@Id" type="checkbox" @onchange="OnValueChanged" checked="@Value" @attributes="disabledAttribute" />
    <label for="inpt_@Id">
      @if (ChildContent != null)
      {
        @ChildContent
      }
      else
      {
        @Label
      }
    </label>
  </div>
}

@code {
  [Parameter] public string Label { get; set; }
  [Parameter] public CheckboxType Type { get; set; } = CheckboxType.Checkbox;
  [Parameter] public RenderFragment ChildContent { get; set; }

  public SemCheckbox()
  {
    ClassMapper
      .Add("ui")
      .Get(() => Type.ToString().ToLower())
      .Add("checkbox");
  }
  async Task OnValueChanged(ChangeEventArgs e)
  {
    Value = (bool)Convert.ChangeType(e.Value, typeof(bool));
    await NotifyChanged();
  }
}
