@typeparam TItem

<a @onclick="@(() => Table?.Sort(SortExpression))">
  @ChildContent
  <SemIcon Class="active" Icon="@(Table?.SortDirection == "ASC" ? Icon.Sort_Alphabet_Down : Icon.Sort_Alphabet_Up)" Visible="@(Table?.SortExpression == SortExpression)"></SemIcon>
  <SemIcon Icon="Icon.Sort_Alphabet_Down" Visible="@(Table?.SortExpression != SortExpression)"></SemIcon>
</a>

@code {
  [Parameter] public SemDataTable<TItem> Table { get; set; }
  [Parameter] public string SortExpression { get; set; }
  [Parameter] public RenderFragment ChildContent { get; set; }
}
