@using SemanticBlazor.Mappers
@inherits SemanticBlazor.Components.Base.Common.SemControlBase

@if (Visible)
{
  <div id="@Id" class="@ClassMapper.ToString()" style="@Style" @attributes="Attributes">
    @ChildContent
  </div>
}

@code {
  [Parameter]
  public RenderFragment ChildContent { get; set; }
  [Obsolete]
  [Parameter]
  public bool ShowOnHover { get; set; }
  [Parameter]
  public DropdownOn DropdownOn { get; set; } = DropdownOn.Click;
  [Parameter]
  public DropdownAction DropdownAction { get; set; } = DropdownAction.Hide;

  public SemDropdownMenu()
  {
    ClassMapper
      .Add("ui dropdown item");
  }

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
#pragma warning disable CS0612
      if (ShowOnHover) DropdownOn = DropdownOn.Hover;
#pragma warning restore CS0612
      await JsFunc.DropDownMenu.Init(JsRuntime, Id, DropdownOn.ToString().ToLower(), DropdownAction.ToString().ToLower());
    }
  }

}