@inherits SemControlBase

@if (Visible)
{
  <div id="@Id" class="@ClassMapper.ToString()" style="@Style" @attributes="Attributes">
    @ChildContent
  </div>
}

@code {
  [Parameter] public RenderFragment ChildContent { get; set; }
  [Parameter] public GridUnit? Columns { get; set; }

  public SemGridRow()
  {
    ClassMapper
    .Add("ui")
    .Get(() => Columns?.ToString().ToLower())
    .If("columns", () => Columns != null)
    .Add("row");
  }
}
